/*  move floating button to top of image
    class from Materialize: changed `bottom` to `top`  */
.btn-floating.halfway-fab {
    position: absolute;
    right: 24px;
    top: -20px;
}

/* DEBUGGING/TESTING SECTION START */
form * {
    /* border: 2px solid darkblue; */
}
form {
    /* border: 2px solid lightblue; */
}
/* DEBUGGING/TESTING SECTION END */
